<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="resources/css/style.css">
</head>
<body>

    <div class="register-form">
        <h1>Formulario de registro</h1>
        <form action="register" method="POST">
            
            <label for="user">Username :</label>
            <input type="text" name="user" id="user" required>

            <label for="user">Nombres :</label>
            <input type="text" name="name" id="name" required>

            <label for="rol">Rol :</label>
            <select name="rol" id="rol" class="select-css">
                <option value="" selected></option>
                <option value="admin">Admin</option>
                <option value="data entry">Data Entry</option>
            </select>

            <label for="user">Password :</label>
            <input type="password" name="password" id="password" required>

            <div style="display: inline;">
                <a href="/" class="btn-cancel">Cancel</a><input type="submit" class="btn-save" value="Save">
            </div>

        </form>
    </div>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@10"></script>

    <% if(typeof alert != "undefined") { %>
        <script>
            Swal.fire({
                title: '<%= alertTitle %>',
                text: '<%= alertMessage %>',
                icon: '<%= alertIcon %>',
                showConfirmButton: '<%= showConfirmButton %>',
                timer: '<%= timer %>',
            }).then(()=>{
                window.location='/<%=ruta %>'
            })
        </script>
    <% } %>
</body>
</html>